[includeIf "gitdir:~/projects/"]
	path = ~/projects/.gitconfig.personal

[includeIf "gitdir:~/work/"]
	path = ~/work/.gitconfig.work

[core]
	excludesfile = ~/.gitignore
    editor = nvim
    commitGraph = true
    autocrlf = input
[web]
    brave
[credential "https://github.com"]
    helper = 
    helper = !/run/current-system/sw/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper = 
    helper = !/run/current-system/sw/bin/gh auth git-credential


[gpg]
	format = ssh

[user]
    email = corey@status.im
    name = Corey Petty
